#tabi{
    background-color:#70c5e8;
    color: white;
    font-weight: bold;
    cursor:auto;
    transform: scale(1.2);
}

#tabi:hover{
    transform: scale(1.2);
}

#tabi img{
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    display: inline;
}