{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="for-margin">
</div>
<div id="contents">
    <div id="contents-area">
        {% if category == 'reply' %}
        <form method="post" action="{% url 'add' category='reply' %}">
            <div id="form-area">
                <div id = "data-input-area">
                    <div class="reply_input_area">
                        <label for="{{ form.stella.id_for_label }}">
                            <p id="stella_name_text">
                                스텔라 이름
                            </p>  
                                {{ form.stella }}
                        </label> 
                    </div>
                <br>
                <div class="reply_input_area">
                    <label for="{{ form.replay_link.id_for_label }}">
                        <div>
                            다시보기 링크
                            {{ form.replay_link }}
                        </div>
                    </label>
                </div>
                <br>
                <div class="reply_input_area" id="div1">
                    <label for="{{ form.replay_day.id_for_label }}">
                        <div>
                            방송 일자
                        {{ form.replay_day }}
                        </div>
                    </label>
                </div>
                <br>
                <div class="reply_input_area" id="div2">
                    <label for="{{ form.replay_contents.id_for_label }}">
                        <div>
                            방송 내용
                            {{ form.replay_contents }}
                        </div>
                    </label>
                </div>
            </div>
            <button class = "regist" id ="regist1" type="submit">등록하기!</button>
        {% endif %}

        {% if category == 'clip' %}
        <form method="post" action="{% url 'add' category='clip' %}">
            <div id="form-area">
                <div id="checkbox_area">
                    <label>
                        <input type="checkbox" name="stellas" value="아이리 칸나"> 칸나
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="아야츠노 유니"> 유니
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="stellas" value="시라유키 히나"> 히나
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="네네코 마시로"> 마시로
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="아카네 리제"> 리제
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="아라하시 타비"> 타비
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="stellas" value="텐코 시부키"> 시부키
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="아오쿠모 린"> 린
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="하나코 나나"> 나나
                    </label>
                    <label>
                        <input type="checkbox" name="stellas" value="유즈하 리코"> 리코
                    </label>
                </div>
                <div id = "data-input-area"> 
                    <label for="{{ form.kirinuky_link.id_for_label }}">
                        <p class="kirinuky-p">키리누키(클립) 링크</p> <br>
                        {{ form.kirinuky_link }}
                    </label>
                    <br>
                    <label for="{{ form.kirinuky_title.id_for_label }}">
                        <p class="kirinuky-p">키리누키(클립) 제목</p> <br>
                        {{ form.kirinuky_title  }}
                    </label>
                    <br>
                    <label for="{{ form.kirinuky_day.id_for_label }}">
                        <p class="kirinuky-p">방송 일자</p><br>
                        {{ form.kirinuky_day }}
                    </label>
                </div>
                <button class = "regist" id ="regist2" type="submit">등록하기!</button>
        {% endif %}
            {% csrf_token %}
                
            </div>
        </form>
    </div>
</div>
{% endblock %}