{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/body.css' %}" rel="stylesheet" type="text/css" />
    <!--바디-->

    <link href="{% static 'css/members.css' %}" rel="stylesheet" type="text/css" />
    <!--헤더1 맴버들 및 헤덭탭-->

    <link href="{% static 'css/utility.css' %}" rel="stylesheet" type="text/css" />
    <!--해더2 등록버튼-->

    <link href="{% static 'css/logo.css' %}" rel="stylesheet" type="text/css" />
    <!--로고-->

    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" />
    <!--푸터-->

    <link href="{% static 'css/calender.css' %}" rel="stylesheet" type="text/css" />
    <!--캘린더-->

    <link href="{% static 'css/data-area.css' %}" rel="stylesheet" type="text/css" />
    <!--데이터 보여주는거-->

    <link href="{% static 'css/add.css' %}" rel="stylesheet" type="text/css" />
    <!--데이터 등록 페이지 공통 사항 css -->

    <link href="{% static 'css/add-clip.css' %}" rel="stylesheet" type="text/css" />
    <!-- 클립 등록 css -->

    <link href="{% static 'css/add-reply.css' %}" rel="stylesheet" type="text/css" />
    <!-- 클립 등록 css -->

    <link href="{% static 'css/vedio-area.css' %}" rel="stylesheet" type="text/css" />
    <!-- 데이터 보기 css -->

    <link href="{% static 'css/request.css' %}" rel="stylesheet" type="text/css" />
    <!-- 요청사항 css -->

    <link href="{% static 'css/error.css' %}" rel="stylesheet" type="text/css" />
    <!-- 에러페이지 css -->

    {{ stella|default:"not_select" }}

    {% if stella == 'kanna'%}
        <link href="{% static 'css/focus/kanna.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'yuni'%}
        <link href="{% static 'css/focus/yuni.css' %}" rel="stylesheet" type="text/css" />

    {% elif stella == 'shiro'%}
        <link href="{% static 'css/focus/shiro.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'hina'%}
        <link href="{% static 'css/focus/hina.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'lize'%}
        <link href="{% static 'css/focus/lize.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'tabi'%}
        <link href="{% static 'css/focus/tabi.css' %}" rel="stylesheet" type="text/css" />

    {% elif stella == 'shibuki'%}
        <link href="{% static 'css/focus/shibuki.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'rin'%}
        <link href="{% static 'css/focus/rin.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'nana'%}
        <link href="{% static 'css/focus/nana.css' %}" rel="stylesheet" type="text/css" />
    {% elif stella == 'riko'%}
        <link href="{% static 'css/focus/riko.css' %}" rel="stylesheet" type="text/css" />
    {% endif %}

<title>Stellive BangSong Calender</title>
</head>
<body>
    <div id="tap">
        <div id="logo">
            <img src="{% static 'images/calendar.jpg' %}" alt="">
        </div>

        <div id="mythic" class="members">
            미스틱
            <div id="mythic-dropdown-content" class="dropdown-content"> 
                <div id="kanna" class="member">
                    <img src="{% static 'images/kannaHeart.png' %}" alt="">
                    칸나
                </div>

                <div class="member" id="yuni">
                    <img src="{% static 'images/yuniHeart.png' %}" alt="">
                    유니
                </div>
            </div>
        </div>

        <div id="universe" class="members">
            유니버스
            <div id="mythic-dropdown-content" class="dropdown-content"> 
                <div id="hina" class="member" >
                    <img src="{% static 'images/hinaHeart.png' %}" alt="">
                    히나
                </div>
                <div id="shiro" class="member" >
                    <img src="{% static 'images/shiroHeart.png' %}" alt="">
                    마시로
                </div>
                
                <div id="lize" class="member">
                    <img src="{% static 'images/lizeHeart.png' %}" alt="">
                    리제
                </div>
                <div id="tabi" class="member" >
                    <img src="{% static 'images/tabiHeart.png' %}" alt="">
                    타비
                </div>
            </div>
        </div>

        <div id="cliche" class="members">
            클리셰
            <div id="mythic-dropdown-content" class="dropdown-content"> 
                <div class="member" id="shibuki">
                    <img src="{% static 'images/shibukiHeart.png' %}" alt="">
                    시부키
                </div> 
                <div class="member" id="rin">
                    <img src="{% static 'images/rinHeart.png' %}" alt="">
                    린
                </div>
                <div class="member" id="nana">
                    <img src="{% static 'images/nanaHeart.png' %}" alt="">
                    나나
                </div> 
                <div class="member" id="riko">
                    <img src="{% static 'images/rikoHeart.png' %}" alt="">
                    리코
                </div> 
            </div> 
        </div>
        
        <script src="{% static 'js/members.js' %}"></script>
        
        <div id="utility">
            <div id="utility-area">
                <div class="utility-item" id="add-reply">
                    다시보기
                </div>
                <div class="utility-item" id="add-kiri">
                    키리누키
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
    <div id="footer">
        <div id="footer-area">
            <div id="copyright">
                made by maro(<a href="https://github.com/ghostclog">길잃은유령개</a>) / <a href="https://github.com/ghostclog/stellive_calander">프로잭트 레포지토리</a>
            </div>
            <div class="footer-item">
                <a href="/requests">요청사항</a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/etc.js' %}"></script>
</body>
</html>