{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="for-margin">
</div>
<div id="contents">
    <div id="contents-area">
        <!-- 
        캘린더

        https://chpofo.tistory.com/67
        위의 사이트 참고 및 수정하여 제작함
        -->

        <div class="wrapper">
            <header>
                <div class="nav">
                  <button id = "beforeMonthArrow" class="material-icons"> &lt; </button>
                  <p class="current-date">{{ string_date }}</p>
                  <button id = "afterMonthArrow" class="material-icons"> &gt; </span>
                </div>
            </header>
            <div class="calendar">
                <ul class="weeks">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="days">
                </ul>
            </div>
        </div>

        <div id="data-area">

            <div id="in-data-area">
                <div id="data-day">
                    {{ total_date_data }}
                </div>
                <div class="data-header">
                    스텔라
                </div>
                <div class="data-tab" id="data-member">
                    {{ stella_name }}
                </div>
                <div class="data-header">
                    방송 내용
                </div>
                <div class="data-tab" id="data-contents">
                    {{ contents }}
                </div>
                <div class="data-header" id="data-clips-div">
                    클립 수
                </div>
                <div class="data-tab" id="data-clips">
                    {{ clips }}
                </div>
                <div>
                    <a id="move-btn">해당 날짜로 바로가기</a>
                </div>
                <input type="hidden" id="current-url" name="current-url">
                <input type="hidden" id="year" name="year" value = "{{ for_calander_date.0 }}">
                <input type="hidden" id="months" name="months" value = "{{ for_calander_date.1 }}">
                <input type="hidden" id="day" name="day" value = "{{ for_calander_date.2 }}">
                <input type="hidden" id="stella" name="stella" value = "{{ stella }}">
                <input type="hidden" id="bangsong_day" name="bangsong_day" value = "{{ bangsong_day }}">
                <input type="hidden" id="kirinuky_day" name="kirinuky_day" value = "{{ kirinuky_day }}">
            </div>
        </div>
    </div>

    <!-- 캘린더 채워주기 -->
    <script src="{% static 'js/calander.js' %}"></script>
    <!-- 캘린더 채워주기 -->

</div>
{% endblock %}