{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div id="for-margin">
    </div>
    <div id="contents">
        <div id="contents-area">
            <!-- 
            캘린더

            https://chpofo.tistory.com/67
            위의 사이트 참고 및 수정하여 제작함
            -->
            <div class="wrapper">
                <header>
                    <div class="nav">
                      <button class="material-icons"> &lt; </button>
                      <p class="current-date">{{ string_date }}</p>
                      <button class="material-icons"> &gt; </span>
                    </div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="days">
                    </ul>
                </div>
            </div>
            <input type="hidden" id="year" name="year" value = "{{ for_calander_date.0 }}">
                <input type="hidden" id="months" name="months" value = "{{ for_calander_date.1 }}">
                <input type="hidden" id="day" name="day" value = "{{ for_calander_date.2 }}">
                <input type="hidden" id="stella" name="stella" value = "not_select">
            <script src="{% static 'js/calander.js' %}"></script>
            <div id="data-area">
                <div id="how-to-use">
                    <div id="main">
                        사용하는 방법!
                    </div>
                    <div class="sub">
                        1. 좌측 상단의 맴버를 선택한다!
                    </div>
                    <div class="sub">
                        2. 맴버를 선택한 이후, 날짜를 선택한다.
                    </div>
                    <div class="sub">
                        3. 여기서 굵게 표시된 날짜는 방송을 한 날!
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}