{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="for-margin">
</div>
    <div id="page-area">
        <!-- 다시보기 -->
        {% for reply in reply_date %}
            <div id="reply-area">
                <div id="reply-vedio">
                    <iframe class = "vedio" src="https://{{ reply.replay_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
                </div>
            </div>
            <div class="reply-data">
                <br><p class="sangse-data">- 일자: {{ total_date_data }} </p>
                <br><p class="sangse-data">- 스텔라: {{ stella }} </p>
                <br><p class="sangse-data">- 방송 내용: {{ reply.replay_contents }} </p>
            </div>
        {% endfor %}
        <!-- 클립 -->
        <div id="clip-area">
            <div class="clips">
                {% for kirinuky in kirinuky_data %}
                    <div class = "clip-box">
                        <div class="clip-tap">
                            <div class = "clip-btn">
                                &gt;
                            </div>
                            <div class = "clip-title">
                                {{ kirinuky.kirinuky_title }}
                            </div>
                        </div>
                        <div class = "clip-vedio">
                            <iframe class = "vedio" src="https://{{ kirinuky.kirinuky_link }}"title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endfor %}
                <script src="{% static 'js/clip.js' %}"></script>
            </div> 
        </div>
    </div>
{% endblock %}