#form-area{
    position: relative;
    top: 10%;
    left: 30%;
    width: 60%;
    height: 80%;
}

.reply_input_area{
    
    width: 70%;
    height: 100px;
}

#stella_name_text{
    position: relative;
    left: 0px;
    float: left;
    margin: 0;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
}

#id_stella{
    position: relative;
    left: 10px;
    width: 250px;
    border-radius: 7px;
    border: 2px solid;
    height: 32px;
    font-size: 14px;
    font-weight: 550;
}

#id_replay_link{
    position: relative;
    width: 60%;
    height: 21px;
    border-radius: 8px;
    border: 2px solid;
    
}

#data-input-area div{
    font-size: 26px;
}

#id_replay_day{
    position: relative;
    height: 21px;
    border-radius: 7px;
    border: 2px solid;
}

#id_kirinuky_day{
    position: relative;
    height: 21px;
    border-radius: 7px;
    border: 2px solid;
}

#div1{
    position: relative;
    top: -50px;
}

#div2{
    position: relative;
    top: -100px;
}

#id_replay_contents{
    position: relative;
    top: 5px;
    width: 100%;
    height: 120px;
    border-radius: 12px;
    border: 2px solid;
}




#checkbox_area{
    justify-content: center; /* 가로 정렬 중앙으로 */
    align-items: center; /* 세로 정렬 중앙으로 */
    margin-bottom: 50px;
}

#id_kirinuky_link{
    width: 90%;
    margin-bottom: 20px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid;
}

#id_kirinuky_title{
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid;
}

#regist2{
    position: relative;
    margin-top: 50px;
}

.regist{
    background-color: #7c86df;
    border: #7079c9 2px solid;
    padding: 10px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    color: white;
    font-weight: bold;
}

.regist:hover{
    transform: scale(1.2);
}

.regist:active{
    background-color: #5e66ad;
}