#big-message-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: 0;
    top: 10px;
    flex-direction: column;
}



.error-message{
    position: relative;
    margin-left: 30%;
    width: 65%;
    height: 10%;
    float: left;
    top: -150px;
    margin-bottom: 25px;
}

.error-message img{
    width: 50px;
    height: 50px;
    left: 10px;
}

.error-messages{
    font-size: 35px;
    font-weight: bold;
}

#return-main{
    position: relative;
    top: 50px;
}