#utility{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
}

#utility-area{
    position: absolute;
    right: 0;
    width: 300px;
}

.utility-item{
    position: relative;
    float: left;
    top: 25px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 21px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #7c86df;
    color: white;
    transition: 0.2s ease-in-out;
}

.utility-item:hover{
    transform: scale(1.1);
}



#footer {
    position: relative;
    width: 100%;
    background-color: rgb(39, 39, 39);
    height: 25px;
    top: 83px;
    z-index: 1;
  }

#footer-area {
    left: 15%;
    width: 80%;
    height: 100%;
    top: -40px;
    position: relative;
}

.footer-item{
    position: relative;
    float: left;
    margin-left: 25px;
    color: rgb(179, 179, 179);
    cursor: pointer;
}

#copyright{
    position: relative;
    float: left;
    color: rgb(179, 179, 179);
}

.footer-item:hover{
    color: rgb(216, 216, 216);
}

.footer-item:active{
    color: rgb(245, 245, 245);
}