#lize{
    background-color:#d34344;
    color: white;
    font-weight: bold;
    cursor:auto;
    transform: scale(1.2);
}

#lize:hover{
    transform: scale(1.2);
}

#lize img{
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    display: inline;
}