/* 수정 할 필요 없는 영역 */
/*
고정탭 영역
*/
#tap{
    background-color: black;
    width: 100%;
    height: 80px;
    position: fixed;
    float: left;
    z-index: 3;
    top: 0;
}
#tap div{
    font-size: 18px ;
}